body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('./img/pexels-pixabay-159045.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%; /*  Atenção com posicionamento da imagem*/
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button { /* Config geral dos buttons */
  background-color: #333974;
  color: #FFF;
  padding: 5px 10px;
  margin-right: 5px;
  border: none; /* Remove borda */
  border-radius: 3px; /* Borde aredondada */
  cursor: pointer; /* Muda o ponteiro pra maozinha */
  opacity: .8;
  transition: .3s; /* Efeito de transição ativado no Hover */
}

button:hover {
  opacity: 1; /* Muda opacidade de 0,8 para 1 ao passar o cursos */
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555; /*Linha de separação do form para a div principal*/
}

.todo {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex; /*Possibilita centralizar a div*/
  justify-content: space-between; /*Centraliza na horizontal*/
  align-items: center; /*Centraliza na vertifical*/
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: #d9534f;
}

.todo-form {
  padding-bottom: 1.5rem; /* Espaçamento interno dos buttons do todoform*/
  text-align: center; /*Alinhamento do texto class form */
}

input, select { /* Configuração do imput e select dentro do meu todoform */
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%; /* Faz com que um item fique embaixo do outro */
}